In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
para = '''the quick red
quick red fox
red fox jumps
fox jumps over
jumps over the
over the lazy
the lazy brown
lazy brown dog hi'''

para = para.split("\n")

dataset = []
for everyline in para:
    dataset.append([everyword for everyword in everyline.split(" ") if len(everyword) > 2])

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   brown    dog    fox  jumps   lazy   over  quick    red    the
0  False  False  False  False  False  False   True   True   True
1  False  False   True  False  False  False   True   True  False
2  False  False   True   True  False  False  False   True  False
3  False  False   True   True  False   True  False  False  False
4  False  False  False   True  False   True  False  False   True
5  False  False  False  False   True   True  False  False   True
6   True  False  False  False   True  False  False  False   True
7   True   True  False  False   True  False  False  False  False

In [4]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

    support       itemsets
0     0.250        [brown]
1     0.375          [fox]
2     0.375        [jumps]
3     0.375         [lazy]
4     0.375         [over]
5     0.250        [quick]
6     0.375          [red]
7     0.500          [the]
8     0.250  [brown, lazy]
9     0.250   [fox, jumps]
10    0.250     [fox, red]
11    0.250  [jumps, over]
12    0.250    [lazy, the]
13    0.250    [over, the]
14    0.250   [quick, red]

In [5]:
association_rules(frequent_itemsets, metric="confidence", 
                        min_threshold=0.5)

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(brown),(lazy),0.250,0.375,0.25,1.000000,2.666667,0.156250,inf
1,(lazy),(brown),0.375,0.250,0.25,0.666667,2.666667,0.156250,2.250000
2,(fox),(jumps),0.375,0.375,0.25,0.666667,1.777778,0.109375,1.875000
3,(jumps),(fox),0.375,0.375,0.25,0.666667,1.777778,0.109375,1.875000
4,(fox),(red),0.375,0.375,0.25,0.666667,1.777778,0.109375,1.875000
5,(red),(fox),0.375,0.375,0.25,0.666667,1.777778,0.109375,1.875000
6,(over),(jumps),0.375,0.375,0.25,0.666667,1.777778,0.109375,1.875000
7,(jumps),(over),0.375,0.375,0.25,0.666667,1.777778,0.109375,1.875000
8,(the),(lazy),0.500,0.375,0.25,0.500000,1.333333,0.062500,1.250000
9,(lazy),(the),0.375,0.500,0.25,0.666667,1.333333,0.062500,1.500000
10,(over),(the),0.375,0.500,0.25,0.666667,1.333333,0.062500,1.500000
11,(the),(over),0.500,0.375,0.25,0.500000,1.333333,0.062500,1.250000
12,(quick),(red),0.250,0.375,0.25,1.000000,2.666667,0.156250,inf
13,(red),(quick),0.375,0.250,0.25,0.666667,2.666667,0.156250,2.250000