# Exercise - Bag of Words Clustering

The 'nips-87-92.csv' is a dataset containing a list of documents by their year & id. The columns are words and a value of > 0 denotes that word occurs in the document. This sort of representation is called as the Bag of Words Model. There are more than 10000 columns here, so any sort of plotting is useless. 

We have to cluster the documents by these bag of words. 

Perform the following operations:
1. Load the dataset into python using Pandas. 
2. Which documents include the words 'element' or 'eigenvalue'? List the total documents and their doc_id.
3. Which words are included in documents 1987_1, 1987_73, 1990_58, 1992_192? List all the common words. 
4. Run the Kmeans algorithm (k-means++) for number of clusters(let's call this c) varying from 2-7. 
5. Find the optimum number of clusters using the Elbow method. 
6. For every value of c, prepare a result text file, which has the following format:  

Filename: NIPS_{value of c}_cluster1  
Cluster1: {total number of documents}  
Document: doc_id1, doc_id2...  
Common words: word1, word2..  

Filename: NIPS_{value of c}_cluster2  
Cluster2: {total number of documents}  
Document: doc_id1, doc_id2...  
Common words: word1, word2..  
  
and so on.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans

In [8]:
df = pd.read_csv('./data/nips-87-92.csv', )
df.head()

,Unnamed: 0,doc_id,abalone,abbeel,abbott,abbreviate,abbreviated,abc,abeles,abernethy,...,zhou,zhu,zien,zilberstein,zones,zoo,zoom,zou,zoubin,zurich
0,0,1987_1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1987_2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1987_3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1987_4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1987_5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0